* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  background-color: aliceblue;
}

h1 {
  font-size: 45px;
  padding: 30px;
  line-height: 50px;
}

.calcContainer {
  display: block;
  margin: 0 auto;
  width: 250px;
  border-left: none;
  z-index: 99;
}
.calcDisplay {
  width: 250px;
  height: 50px;
  text-align: right;
  line-height: 80px;
  border-radius: 5px;
  font-size: 30px;
  margin: 10px;
}

.btn,
.btnNum {
  display: block;
  width: 70px;
  height: 80px;
  font-size: 30px;
  border: none;
  border-radius: 7px;
}
.Col1,
.Col2,
.Col3,
.Col4 {
  display: table-cell;
}
.equalbtn {
  display: block;
  width: 60px;
  height: 150px;
  background-color: rgb(250, 166, 9);
  border-radius: 7px;
  font-size: 20px;
}

button {
  cursor: pointer;
}
button:hover {
  background-color: rgb(240, 217, 14);
}

button:active {
  transform: scale(1.1);
}
